# Virtual Environments
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db