# ==================================================
# PYTHON
# ==================================================

__pycache__/
*.py[cod]
*.pyo

# ==================================================
# VIRTUAL ENVIRONMENT
# ==================================================

venv/
.venv/
env/

# ==================================================
# ENVIRONMENT / SECRETS
# ==================================================

.env

# ==================================================
# JUPYTER NOTEBOOK
# ==================================================

.ipynb_checkpoints/

# ==================================================
# VS CODE
# ==================================================

.vscode/

# ==================================================
# LOG FILES
# ==================================================

*.log

# ==================================================
# LOCAL DATABASE
# ==================================================

*.db

# ==================================================
# GENERATED REPORTS
# ==================================================

reports/

# ==================================================
# GENERATED EXPORTS
# ==================================================

exports/

# ==================================================
# TRAINED MODEL FILES
# ==================================================

models/